.news-widget {
    border: 1px solid white ;
    height: 350px;
    max-height: fit-content;
    margin: 1%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#news-feed-scroll {
    display: flex;
    flex-direction: column;
    background-color: gray;
    justify-content: space-between;
}

#news-feed-container {
    display: flex;
}