#price-chart-container {
    height: 70%;
    background-color: black;
    margin-bottom: 1%;
}

#price-canvas {
    max-height: 600px;
    margin-bottom: 2%;
}

#chart-description-container {
    display: flex;
    padding: 10px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom:10%;
    justify-content: space-between;
    font-size: 30px;
    margin-top: 1%;
}

