#profile-search-bar{
    width: 45%;
    margin: auto;
    margin-top: 0;
    height: 30px;
    border-radius: 20px;
    text-align: center;

}

#search-results-list {
    
    width: 10%;

}

#search-results {
    margin-left: 25%;
    height: 100%;
    width: 50%;
    position: absolute;
    z-index: 2;
    overflow: auto;
    cursor: pointer;
    margin-top: 2%;
    overflow-y: scroll;
}

.result {
    border: 1px solid white;
    padding: 1%;
    width: auto;
    height: 100%;
    background-color: black;
    color: white;
    list-style: none;
}

#search-bar-container {
    display: flex;
    width: 100%;
    margin-left: 10%;
}

#search-exit {
    background-color: white;
    color: black;
    width: 2%;
}

#search-input {
    width: 50%;
    margin-top: 1%;
    margin-left: 35%;
    position: relative;
    background-color: transparent;
}

