#search-result-container {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: gray;
    box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

#right-search-pane {
    padding: 10px;
    height: 100%;
    width: 100%;
    border: 10px solid black;
}