


  #options-button {

    margin-left: 35%;
    display: grid; 
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    width: 90px;
    border-radius: 20px;
    border: 1px solid black;
  
  }
  .NavLink {
    font: inherit
  }
  #nav-options{
    grid-column-start: 2;
    grid-column-end: span 3;
    position: absolute;
    display: flex; 
    width: 15%; 
    height: 15%; 
    flex-direction: column;
    right: 5%;
    margin-top: 25px;
  
    cursor: pointer; /* Add a pointer on hover */
  }
  #options-box {
    box-sizing: border-box;
    display: flex;
    grid-column-start:3 ;
    grid-row-start:1 ;
    flex-direction: column;
    justify-content: center;
    margin-left: 25%;
    border-bottom: 1px solid #484848;

  }
  .nav-selection {
    display: none;
    border-right: 1px solid #484848;
    border-left: 1px solid #484848;
    padding: 15px 15px 15px 12px;
    display: flex;
    width: 200px;
    height: 200px;
    margin-right: 300px;
    background-color: white;
   text-decoration: none;
    align-items: center;
    z-index: 200;
  }
  .nav-selection * {
    text-decoration: none;
    cursor: pointer;
  }
  a {
    outline: none;
  }

  #first-option {
    border-top: 1px solid #484848;
    border-top-right-radius:  20px;
    border-top-left-radius:  20px;
  }
  
  #last-option {
    border-top: 1px solid #484848;
    border-bottom-right-radius:  14px;
    border-bottom-left-radius:  12px;
  }
  

    
  
  #dropdown-container {
    
    height: 100%;
    width: 100%;
  }
  
  .button-image {
      width: 35px;
      height: 30px;
      padding: 5px;
      opacity: 80%;
      
  }


  .nav-selection:last-child {
    border-bottom: 1px solid #484848;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
  }

  .nav-selection:nth-child(2){
      border-top: 1px solid #484848;
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;
  }